
{%extends 'base_layout.htm'%}
{%load static%}


{% block title %}
    Assignment help &mdash; Payment
{% endblock %}


{%block content%}
{%for number in whatsapp%}
<a href="https://api.whatsapp.com/send?phone={{number.number}}" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
{% endfor %}

{%endblock%}


{%block footer%}
<section id="footer">
    <div class="inner">
        <h2 class="major">Order {{order.reference_code}}</h2>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Academic Level</th>
                        <th>Subject</th>
                        <th>Type</th>
                        <th>Paper format</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{order.get_academic_level_display}}</td>
                        <td>{{order.get_subject_display}}</td>
                        <td>{{order.get_type_display}}</td>
                        <td>{{order.get_paper_format_display}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Number of Pages</th>
                        <th>Days</th>
                        <th>Line spacing</th>
                        <th>Total cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{order.get_number_of_pages_display}}</td>
                        <td>{{order.get_days_display}}</td>
                        <td>{{order.get_line_spacing_display}}</td>
                        <td>${{order.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4>Complete Payment</h4>
        <div id="paypal-button-container"></div>
        <ul class="copyright">
            <li>&copy;<script>document.write(new Date().getFullYear())</script> Study Help. All rights reserved.</li>
            <li><a href="/how_we_work/">How we work</a></li> 
            <li><a href="/revision_policy/">Revision policy</a></li>
            <li><a href="/refund_policy/">Refund policy</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/create_order/">Order</a></li>
            <li><a href="/samples/">Samples</a></li>
            <li>Design: <a href="#">Web Space</a></li>
        </ul>
    </div>
</section>
{%endblock%}


{% block extra_scripts %}
<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AclM7gtkokB1yTVsQtz9TewgvXxXK0bXVfc8Vo46-viO0-rY_ChW5XvmFBkOEB0HfHBwsFF2JhJfdstd&currency=USD"></script>

<script>
    function completeOrder() {

        var url = "{% url 'payment:complete' slug=order.reference_code%}";
        window.location.href = url;
    
    }

    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{order.price}}'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {

                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];

                completeOrder();

            });
        }


    }).render('#paypal-button-container');
</script>
{% endblock extra_scripts %}
